################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactsProject
/bin/Debug
/ContactsBusinessLayer/bin/Debug
/ContactsDataAccessLayer/bin/Debug
/obj/Debug
